.container {}

.h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 30px;
}

.h2 {

    font-size: 50px;
    margin-bottom: 5px;

}

.span {
    font-size: 30px;
    margin-bottom: 13px;
    display: block;
}

.p {
    margin-bottom: 30px;
    font-size: 20px;
}

.copyRight {}

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}