:root 
{
    --main-bg-color: #101010;
    --main-bg-color-l: #1f1f1f;
    --main-txt-color: white;
}

html
{
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

body
{
    overflow-y: auto;
    overflow-x: hidden;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100; 
}

::-webkit-scrollbar-thumb {
    background: #0897b9;
}

::-webkit-scrollbar-thumb:hover {
    background: #07ecc0;
}

.position-relative
{
    position: relative;
}

.bg-content
{
    position: relative;

    &::before
    {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 1;
        background: url(https://localhost/img/bg.png);
        background-size: cover;
        /* position: relative; */
        opacity: .03;
        background-position-x: -251px;
    }
}

.row-bg-l
{
    background-color: var(--main-bg-color-l);
}


.title
{
    background: #087fb7;
    background: var(--color-primary);
    background: linear-gradient(180deg, #087fb7,  #07ffc2 );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-primary)",endColorstr="var(--color-secondary)",GradientType=1);
    //background-size: 300%;
    //background-position: -100%;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 90px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
    transition: .8s;
    transform: scale(0);
    opacity: 0;
    //animation: move_color_title 5s infinite alternate-reverse;
    //animation-iteration-count: infinite;

    &.animation
    {
        transform: scale(1);
        opacity: 1;
    }
}

.subtitle
{
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 70px;
    position: relative;
    transition: .8s;
    top: -60px;
    opacity: 0;
    transition-delay: 1s;

    &.animation
    {
        top: 0;
        opacity: .7;
    }
}

@keyframes move_color_title 
{
    to{
        background-position: 100%; 
    }
}

.logo
{
    width: 100px;
    display: block;

    & > img
    {
        width: 100%;
    }
}

.target-col 
{
    text-align: center;
    
    & > a 
    {
        text-decoration: none;
        color: white;
        display: block;

        & > i 
        {
            font-size: 80px;
            color: #07e7bb;
            transition: .3s;
            top: 0px;
            position: relative;
        }
    
        & > h3 
        {
            font-size: 45px;
            margin-bottom: 0;
            margin-top: 20px;
        }
    
        & > p 
        {
            color: #ffffff80;
            font-size: 19px;
            margin: 0 auto;
            width: 255px;
            margin-top: 20px;
        }

        &:hover i
        {
            top: -20px;
        }

    }

}

nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    & > .nav-right
    {
        display: flex;

        & .isOnline
        {
            background: #353535;
            padding: 10px 15px;
            border-radius: 5px;
            text-transform: uppercase;
            font-size: 13px;
            margin-right: 10px;
            color: black;

            &.active
            {
                background: #f44336;
                color: white;
            }
        }

        & > a 
        {
                
            width: 35px;
            height: 35px;
            background: #dadada;
            text-align: center;
            border-radius: 5px;
            line-height: 35px;
            font-size: 21px;
            margin-left: 5px;
            transition: .3s;

            & i 
            {
                &.fa-twitch
                {
                    color:#6441a5;
                }

                &.fa-instagram
                {
                    color:#bb2d85;
                }

                &.fa-twitter
                {
                    color:#00acee;
                }
            }

            &:hover
            {
                transform: scale(.9);
                cursor: pointer;
            }
        }
    }
}

.btn-link
{
    background: #088db8;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: .3s;

    &:hover
    {
        background: #9c27b0;
    }
}

.video
{
    background: #252525;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    & i 
    {
        font-size: 80px;
        opacity: .2;
        transition: .3s;
    }

    &:hover i
    {
        opacity: .8;
    }
}

.icon-twitch
{
    font-size: 250px;
    color: white;
    position: absolute;
    right: 10px;
    transform: rotate(28deg);
    z-index: 0;
    opacity: 0.04;
    top: 9px;
}

.header-news
{
    text-align: center;

    & > h2 
    {
        text-align: center;
        padding: 0;
        margin: 0;
        background: #087fb7;
        background: var(--color-primary);
        background: linear-gradient( 180deg, #087fb7, #07ffc2);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-primary)", endColorstr="var(--color-secondary)", GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 93px;
    }

    & > p 
    {
        font-size: 25px;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 80px;
        opacity: 0.6;
    }
}

.card 
{
    background: #696868;
    padding: 20px;
    border-radius: 5px;
    height: 300px;
    display: flex;
    align-items: flex-end;


    & > .content
    {   
        

        & span
        {

        }

        & h3
        {
            
        }

        & p
        {
            
        }

        & a
        {
            
        }
    }
}