@import './color.scss';

body {
	background-color: $base-color;
}

.bg-white
{
	background-color: white;
}

.height-full
{
	height: 100%;
}

.content-center
{
	display: flex;
    align-items: center;
    justify-content: center;
}

.container 
{
	position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
	overflow: auto;

	& .col-left
	{
		background: rebeccapurple;
		position: fixed;
		height: 100%;
		left: 20px;
		width: 70px;
	}

	& .col-middle
	{
		width: 100%;
	}

	& .col-right
	{
		background: rebeccapurple;
		position: fixed;
		height: 100%;
		right: 20px;
		width: 70px;
	}
}