.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    color: #20f0cb;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    line-height: 110px;
    margin-bottom: 40px;
}

.container h4 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.container h5 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .container h1 {
        font-size: 6vw;
        line-height: 7vw;
        margin-bottom: 4vw;
    }

    .container h4 {
        font-size: 2vw;
        margin-bottom: 4vw;
    }

    .container h5 {
        margin-bottom: 6vw;
        font-size: 2vw;
    }


}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .container h1 {
        font-size: 6vw;
        line-height: 8vw;
        margin-bottom: 4vw;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    .container h1 {
        font-size: 6vw;
        line-height: 7vw;
        margin-bottom: 5vw;
    }

    .container h4 {
        font-size: 2.5vw;
        margin-bottom: 4vw;
    }

    .container h5 {
        margin-bottom: 6vw;
        font-size: 2.5vw;
    }



}


@media (min-width: 0px) and (max-width: 480px) {

    .container h1 {

        font-size: 6.5vw;
        line-height: 9vw;
        margin-bottom: 5vw;
    }

    .container h4 {
        font-size: 3vw;
        margin-bottom: 4vw;
    }

    .container h5 {
        text-align: center;
        margin-bottom: 6vw;
        font-size: 3vw;
    }
}