.container
    .col-left col-left
    .col-middle
        section.height-full.content-center
            .title-presentation
                span.animate Desarrolla tus propias aplicaciones de NodeJS
                h1.animate Junior a Senior de manera #[span.gradient-text eficaz]
        section.bg-white
            .margin margenes
    .col-right col-right