.line
.container
    .left
        .margin
            .top
                a(href="") 
                    i.fab.fa-linkedin-in
                a(href="") 
                    i.fab.fa-instagram
    .middle
        .content-section
            section
                .column
                    h2.span_name Amer
                .content 
                    .h1.
                        #[span.gradient-purple.span Diseño ]#[span.gradient-purple.span Gráfico]#[span.span.txt-papeleria Papelería]
                    p.
                        Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Es dicta id doloribus sequi enim, earum 
                        autem #[b hic non aliquam]. Velit, tempora. Earum tot
                        am ex, suscipit beatae vitae dolorum! Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Es dicta isum dolor sit amet consectetur adipisicing 
                        elit. Es dicta id doloribus sequi enim,d doloribus sequi enim, earum
                    p.mb-4vw.
                        Velit, temporasum dolor sit amet consectetur adipisicing 
                        elit. Es dicta id dolorisum dolor sit afsamet consectetur adipisicing 
                        eliasdasfagfag a gagnim,bus sequi enim,. Earum tot
                        am ex, suscipit beatae vit
                    article
                        .img.matusalem
                        .text
                            h2 Proyecto #[br]#[font.green Matusalem Bike]
                            a(href="" class="btn-more") Saber más 
                    //article.img.matusalem
                        button Proyecto Matusalem Bike
                    //h2 #[font.green Premio]#[br]de carteleria
                    //h3 Li modi Excepturi, ratione tenetur
                    //p.
                        Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Es dicta id doloribus sequi enim, earum 
                        autem s dicta id doloribus sequi enim, earum 
                        autemVelit, tempora. Earum tot am ex, suscipit beata
                        e vitae dolorum! Lorem ipsum dolor sit amet consectetur adip
                        isicing elit. Es dicta isum do
                    //article.img.cartel_badalona
                        button Premio cartel


                    //footer 
                        span © Jessica Amer / Todos los derechos reservados.
