body,
html {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	background-color: var(--main-bg-color);
	color: #16212f;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

:root {
	--animate-duration: 0.5s;
	--animate-delay: 0.5s;
}

h1.title {
	font-size: 4.5vw;
	width: 50vw;
	margin: 0 auto;
	color: #002267;
	margin-bottom: 4vw;
}

span.subtitle {
	padding-top: 10vw;
	display: block;
	font-size: 2vw;
	margin-bottom: 2vw;
	color: #718baf;
}

.text-center {
	text-align: center;
}

.margin-center {
	margin: 0 auto;
	width: calc(100% - 25vw);
	max-width: 1300px;
}

.panel-img {
	width: 100%;
	border-radius: 25px;
	box-shadow: 0px 0px 14px 1px #0066ff2e;
}

div[id^="__lpform_"] {
	display: none;
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.group-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
	& > .btn:nth-child(1) {
		margin-right: 20px;
	}
}

.btn {
	background: #dadada;
	font-size: 23px;
	padding: 15px 25px;
	border-radius: 10px;
	text-decoration: none;
	color: #002267;

	&.btn-confirm {
		background: #0066ff;
		color: white;
	}

	&.btn-normal {
	}
}

.space-top {
	display: block;
	width: 100%;
	height: 32vw;
}

section {
	width: 100%;
	padding-bottom: 80px;
}

.mt-120 {
	margin-top: 120px;
}

.mt-200 {
	margin-top: 200px;
}

.mt-400 {
	margin-top: 400px;
}

.emoji-like {
	font-size: 4vw;
	position: relative;
	transform: rotate(-22deg);
	display: inline-block;
	top: -1vw;
}

.content-col {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& .col-1 {
		width: 900px;
		margin-right: 100px;
	}

	& .col {
		& span {
			display: block;
			font-size: 1.5vw;
			margin-bottom: 2vw;
			color: #718baf;
		}

		& h3 {
			font-size: 3vw;
			margin: 0;
			margin-bottom: 3vw;
			color: #002267;
		}

		& p {
			font-size: 1.4vw;
			color: #565656;
			line-height: 2vw;
			margin-bottom: 1vw;
		}
	}
}

.block-twitch {
	margin-top: 40px;
	& > img {
		width: 200px;
		margin-bottom: 10px;
		display: block;
		margin: 0 auto;
	}

	& > span {
		color: #9146ff;
		display: block;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 13px;
	}

	& > .list-follow {
		width: 500px;
		margin: 0 auto;
		display: flex;
		justify-content: center;

		& > div {
			background-color: #d0d0d0;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			overflow: hidden;
			margin-right: 5px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}
}

.menu-web {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 60px;
}

.group-btn-login {
	& > button {
		padding: 10px 30px;
		border: solid 1px transparent;
		border-radius: 10px;
		transition: 0.5s;
		cursor: pointer;
		background: transparent;
		outline: none;
		width: 130px;
	}

	& > button:nth-child(1) {
		margin-right: 10px;
		background: #0066ff85;
		color: white;

		&:hover {
			background: #0066ff;
		}
	}

	& > button:nth-child(2) {
		border: solid 1px #0066ff;
		color: #0066ff;

		&:hover {
			color: white;
			background: #0066ff;
		}
	}
}
