#panel.panel
	nav
		ul 
			.logo l
			li(class="click" e-method="content" e-page="dashboard").active #[i.fas.fa-chart-bar]
			li(class="click" e-method="content" e-page="course") #[i.fas.fa-cube]
			li(class="click" e-method="content" e-page="api") #[i.fas.fa-database]
			li(class="click" e-method="content" e-page="envelope") #[i.far.fa-envelope]
		ul
			li(class="click" e-method="close") #[i.fas.fa-sign-out-alt] 
	main
		header
			.margin-header
				div
					h2 Hola Albert 游녦
						span.info-alert Tienes #[b 3 alertas] esper치ndote
				div asds
		content
			.margin
				div.mb-50
					h2 Estadisticas globales
					h3 Descripci칩n general
					.group-label
						.label.highlight
							span Total de peticiones
							span 3,230
						.label
							span Peticiones este mes
							span 424
						.label
							span Cursos realizados
							span 1/8
					block-stadistic

				div.mw-300.mb-50
					h2 Cursos gratis
					h3 칔ltimas listas de reproducci칩n
					p.
						Aprobecha de los curso #[b GRATUITOS] que encontrar치s en el #[a(href="https://www.youtube.com/channel/UCXLcSZzqpRzQ-FplONzCrMw" target="_blank") canal de Youtube]
					for val in playlist
						.video-list
							img(src=val.thumbnails, alt="")
							h4=val.title
							if val.description.length != 0
								p=val.description
							a(href=val.url target="_blank") Ver curso