include ./include/head.pug
#main.scroll-container
	nav.menu-web
		div.d-none
		div.d-none 
		.group-btn-login.d-none 
			button.click(e-method="login") Login
			button.click(e-method="register") Registro
	section
		.margin-center.text-center
			.block-twitch
				img(src="img/TwitchExtrudedWordmarkPurple.svg", alt="")
				span Último followers
				.list-follow
					div
					div
					div
					div
					div
			span.d-block.subtitle algoritmo de la programación
			h1.title Programa rápidamente y de manera eficaz #[span.emoji-like 👍]
			.group-btn
				a(href="" class="click btn btn-confirm" e-method="demo") Ver demostración 
				a(href="" class="click btn btn-normal" e-method="register") Accede al panel
			img(src="img/panel.png", alt="" class="panel-img")
	section
		.margin-center
			.content-col
				.col-1
				.col 
					span 🥰 We keep the terms simple
					h3 Cumque architecto, consequuntur expedita facere repellat! Repudiandae?
					p.
						Lorem ipsum dolor sit amet consectetur adipisicing elit libero tenetur voluptatibus amet, delectus quos et fugit in!
					p.
						Son tempore architecto maxime quaerat laudantium unde, corruptme quaer
						at laudantium unde, corrupti magnam delectume quaerat laudantium
						 unde, corrupti magnam delectume quaerat laudantium unde, cor
						 rupti magnam delectume quaerat laudanti
						 um unde, corrupti magnam delectui magnam delectus modi at fugiat mollitia facere quod.