name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Cancelar ejecuciones anteriores
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - name: Recuperar repositorio
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Instalar node
        uses: actions/setup-node@v2
        with:
          cache: npm
          node-version: "16.14.2"
      - name: Instalar dependecias
        run: npm ci
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rltgoDzvO --delete"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}
          EXCLUDE: "/node_modules/, /.github/, /.next/, /doc/, /public/img/"
